@import "@/styles/_variables";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #404e5c;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 48px;

  box-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

  overflow: hidden;
  z-index: 5;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 48px;

  box-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

  &:nth-child(1) {
    transform: perspective(500px) translate3d(0, 0, -15px);
    background-color: #eda96d;
    z-index: 4;
  }

  &:nth-child(2) {
    transform: perspective(500px) translate3d(0, 0, -30px);
    background-color: #fc7a1e;
    z-index: 3;
  }

  &:nth-child(3) {
    transform: perspective(500px) translate3d(0, 0, -45px);
    background-color: #9792e3;
    z-index: 2;
  }

  &:nth-child(4) {
    transform: perspective(500px) translate3d(0, 0, -60px);
    background-color: #f24c00;
    z-index: 1;
  }
}

.info {
  h5 {
    color: white;
  }
  strong {
    color: white !important;
  }
  img {
    filter: invert(100%);
  }
}