@import "@/styles/_variables";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 2px solid black;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;

    background-image: radial-gradient(#F5A300 0.5px, transparent 0.5px),
      radial-gradient(#F5A300 0.5px, transparent 0.5px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
  }
}

.info {
  background-image: radial-gradient(
    rgba(0, 0, 0, 0) 1px,
    var(--customBackground) 1px
  );
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}
