@import "@/styles/_variables";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #008080;
}

.button {
  background-color: #c0c7c8;
  border-top: 4px solid #c0c7c8;
  border-left: 4px solid #c0c7c8;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #000000;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    border-top: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    border-bottom: 4px solid #87888f;
    border-right: 4px solid #87888f;
  }

  &:active {
    border-top: 4px solid #000000;
    border-left: 4px solid #000000;
    border-bottom: 4px solid #ffffff;
    border-right: 4px solid #ffffff;

    &:before {
      border-top: 4px solid #87888f;
      border-left: 4px solid #87888f;
      border-bottom: 4px solid #ffffff;
      border-right: 4px solid #ffffff;
    }
  }
}

.info {
  background-color: #c0c7c8;
  box-shadow: 0 -2px #cce9eb, 0 -3px black;
  border-top: 2px solid #fffdfc;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: url("data:image/svg+xml,%3Csvg%20width='4'%20height='4'%20viewBox='0%200%204%204'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Crect%20width='2'%20height='2'%20fill='white'/%3E%3Crect%20x='2'%20y='2'%20width='2'%20height='2'%20fill='white'/%3E%3C/svg%3E%0A");
    background-size: 4px 4px;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    -webkit-backdrop-filter: brightness(80%);
    backdrop-filter: brightness(80%);
    opacity: 0.1;

    pointer-events: none;
  }
}
