@import "@/styles/_variables";

@font-face {
  font-family: "VCR";
  src: url("../../public/fonts/VCR.ttf");
  font-weight: normal;
  font-style: normal;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #270245;
  overflow: hidden;

  $dark: #270245;
  $light: #fd5d8d;
  $white: #fff;

  &::selection {
    background: $light;
    color: darken($light, 20);
    color: $dark;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: radial-gradient(
      transparent 50%,
      transparent 80%,
      rgba(0, 0, 0, 0.5)
    );
  }

  .noise {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 4;
    opacity: 0.8;
    pointer-events: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url("https://ice-creme.de/images/background-noise.png");
      pointer-events: none;
    }

    &-moving {
      opacity: 1;
      z-index: 4;

      &:before {
        will-change: background-position;
        animation: noise 1s infinite alternate;
      }
    }
  }

  .scanlines {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 3;
    opacity: 0.1;
    will-change: opacity;
    animation: opacity 3s linear infinite;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.5) 51%
      );
      background-size: 100% 4px;
      will-change: background, background-size;
      animation: scanlines 0.2s linear infinite;
    }
  }

  .introWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    font-family: "VCR" !important;
    font-size: 1.5rem;
    color: $white;
    background: #2b52ff;

    .noise {
      &:before {
        background-size: 200%;
      }
    }

    .play {
      position: absolute;
      left: 1.5rem;
      top: 2rem;
      will-change: text-shadow;
      animation: rgbText 2s steps(9) 0s infinite alternate;

      .char {
        will-change: opacity;
        animation: type 1.2s infinite alternate;
        animation-delay: calc(60ms * var(--char-index));
      }
    }

    .time {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      will-change: text-shadow;
      animation: rgbText 1s steps(9) 0s infinite alternate;
    }

    .recordSpeed {
      position: absolute;
      left: 1.5rem;
      bottom: 100px;
      will-change: text-shadow;
      animation: rgbText 1s steps(9) 0s infinite alternate;
    }
  }

  /* Animations */
  @keyframes noise {
    0%,
    100% {
      background-position: 0 0;
    }
    10% {
      background-position: -5% -10%;
    }
    20% {
      background-position: -15% 5%;
    }
    30% {
      background-position: 7% -25%;
    }
    40% {
      background-position: 20% 25%;
    }
    50% {
      background-position: -25% 10%;
    }
    60% {
      background-position: 15% 5%;
    }
    70% {
      background-position: 0 15%;
    }
    80% {
      background-position: 25% 35%;
    }
    90% {
      background-position: -10% 10%;
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0.3;
    }
    20% {
      opacity: 0.1;
    }
    35% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.4;
    }
    60% {
      opacity: 0.1;
    }
    80% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes scanlines {
    from {
      background: linear-gradient(
        to bottom,
        transparent 50%,
        rgba(0, 0, 0, 0.5) 51%
      );
      background-size: 100% 4px;
    }
    to {
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 50%,
        transparent 51%
      );
      background-size: 100% 4px;
    }
  }

  @keyframes rgbText {
    0% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    25% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    45% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
        0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
        0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    50% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
        0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
        0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
    55% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    90% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
        0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
        0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    100% {
      text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
        0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
        0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
  }

  @keyframes rgbSquare {
    0% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    25% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    45% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
        0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
        0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    50% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
        0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
        0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
    55% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8),
        0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8),
        0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
    }
    90% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8),
        0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8),
        0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
    }
    100% {
      box-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6),
        1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8),
        0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8),
        0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
    }
  }

  @keyframes type {
    0%,
    19% {
      opacity: 0;
    }
    20%,
    100% {
      opacity: 1;
    }
  }
}

.button {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: rgbSquare 1s steps(9) 0s infinite alternate;
}

.info {
  position: relative;
  z-index: 5;

  h5 {
    color: white;
  }
  img {
    filter: invert(100%);
  }
}
