@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
[data-scroll] {
  overscroll-behavior: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  user-select: none;
  -webkit-user-drag: none;
}

main {
  @apply relative z-10;
}

canvas {
  @apply fixed left-0 right-0 top-0 bottom-0 -z-0 w-screen h-screen flex flex-col items-center justify-center;
}

h1 {
  @apply text-6xl leading-tight tracking-tighter;
}

h2 {
  @apply text-4xl leading-tight;
}

h3 {
  @apply text-2xl leading-tight;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

h6 {
  @apply text-base;
}

p {
  @apply text-base;
}

@layer components {
  .text-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
