@tailwind base;
@tailwind components;
@tailwind utilities;

/*   VARIABLES   */
@layer base {
  :root {
    --color-blue: 99, 91, 255; /* #635bff */
    --color-orange: 248, 184, 134; /* #f8b886 */
    --color-dull-red: 237 30 35; /* #ED1E23 */
    --color-green: 5 220 5; /* #05DC05 */

    --color-grid: 229 229 227; /* #e5e5e3 */
    --color-line: 245 245 244; /* #f5f5f4 */

    --color-primary: 12 12 12; /* #0c0c0c */
    --color-background: 224, 224, 224;
    --color-box: 235, 235, 235;
    --color-border: 204, 204, 204;

    /* shadcn stuff */
    --radius: 0.5rem;
  }
}

@layer components {
  /*   DEFAULT   */
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    @apply bg-[#04080c];
    @apply m-0 p-0 font-serif text-primary;
    @apply select-none;

    font-size: 15px;
    // text-wrap: balance;
    white-space: pre-wrap;
  }

  pre {
    user-select: text;
  }

  section {
    @apply fixed bottom-0 left-0 right-0 top-0 z-0 overflow-hidden;
    @apply max-h-screen w-full;
    @apply flex flex-col items-center justify-center gap-4;
    @apply p-2 md:p-6 2xl:p-8;
    @apply text-center text-white;
    @apply pointer-events-none select-none;

    height: 100dvh;
    width: 100dvw;
  }

  button {
    @apply flex items-center justify-center;
    @apply px-4 py-2 text-[16px] md:text-[18px];
    @apply rounded-lg bg-white/80 text-black backdrop-blur-lg;
    @apply outline outline-1 outline-offset-1 outline-white/20 md:outline-2 md:outline-offset-2;
    @apply pointer-events-auto transition-all duration-300 ease-in-out;
    @apply hover:bg-white/100 hover:outline-offset-[4px] hover:outline-white hover:md:outline-offset-[8px];
    @apply disabled:cursor-not-allowed disabled:opacity-50;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  section {
    @apply absolute bottom-0 left-0 right-0 top-0 z-[100000000000];
    @apply max-h-screen w-full;
    @apply flex flex-col items-center justify-center md:p-6 2xl:p-8;
    @apply text-center text-white;
    @apply pointer-events-none select-none;

    height: 100dvh;
  }

  article {
    @apply relative;
    /* @apply bg-[rgb(var(--color-box))]; */
    /* @apply rounded-md border border-[rgb(var(--color-border))]; */
    @apply overflow-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  strong,
  input {
    margin: 0;
    padding: 0;

    font-family: var(--font-swiss), serif;
    line-height: 1em;
  }

  h1,
  h2,
  h3 {
    font-weight: 600 !important;
    line-height: 0.8em;
    letter-spacing: 0.01em;
    mask-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8) 0%, black 100%);
  }

  p {
    line-height: 1.2em;
    text-align: left;
  }

  a {
    color: inherit;
    text-decoration: none;

    cursor: pointer;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  hr {
    @apply h-[1px] w-full border-none bg-white/20;
  }

  /* Remove grey border around images on iOS */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }

  canvas {
    @apply pointer-events-none touch-none select-none;
  }
}

@layer utilities {
  /* animations and keyframes stuff if adding to tailwind becomes a hassle */
}

/* Hide scrollbars for all browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.diagonal:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: 3px 3px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.1) 0,
    rgba(255, 255, 255, 0.1) 0.5px,
    transparent 0,
    transparent 50%
  );
  pointer-events: none;
}

.diagonal-dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0,
    transparent 50%
  );
  pointer-events: none;
  mask-image: linear-gradient(to bottom, black 8px, transparent 8px),
    linear-gradient(to top, black 8px, transparent 8px),
    linear-gradient(to left, black 8px, transparent 8px),
    linear-gradient(to right, black 8px, transparent 8px);
  animation: animateBackground 20s linear infinite;
}

.diagonal-dark-full:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-size: 6px 6px;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 0,
    rgba(255, 255, 255, 0.2) 1px,
    transparent 0,
    transparent 50%
  );
  pointer-events: none;
  animation: animateBackground 20s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.json-view-string {
  color: green;
}
.json-view-number {
  color: brown;
}
.json-view-boolean {
  color: blue;
}
.json-view-null {
  color: gray;
}
.json-view-key {
  @apply text-red-400;
}

.perspective-left {
  transform: perspective(10cm) skewY(-2.5deg) rotateY(2.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-left-slight {
  transform: perspective(10cm) skewY(-0.5deg) rotateY(0.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-left-top-slight {
  transform: perspective(10cm) skewY(0.5deg) rotateY(0.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-right {
  transform: perspective(10cm) skewY(2.5deg) rotateY(-2.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-right-slight {
  transform: perspective(10cm) skewY(0.5deg) rotateY(-0.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-right-top {
  transform: perspective(10cm) skewY(-2.5deg) rotateY(-2.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-right-top-slight {
  transform: perspective(10cm) skewY(-0.5deg) rotateY(-0.5deg);
  @media (max-width: 1024px) {
    transform: none;
  }
}

.perspective-top {
  transform: perspective(5cm) rotateX(1deg) rotateX(1.5deg);
}
.perspective-top-steep {
  transform: perspective(5cm) rotateX(1deg) rotateX(3deg);
}

.perspective-bottom {
  transform: perspective(5cm) rotateX(-1deg) rotateX(-1.5deg);
}

.alert-move-left {
  animation: move-left 5s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes move-left {
  0% {
    transform: translateX(-52.5%);
  }
  100% {
    transform: translateX(-175%);
  }
}

.pulse {
  animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.ping {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  animation-delay: 2s;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.shimmer:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-image: linear-gradient(
    45deg,
    transparent,
    transparent,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent,
    transparent,
    transparent,
    transparent
  );
  background-size: 300%;
  background-position: 150%;
  background-repeat: no-repeat;
  animation: shimmy 4s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes shimmy {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -150%;
  }
}

.bounce {
  animation: bounce 2s infinite ease-in-out;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    50% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

.audio-background {
  background-image: radial-gradient(circle at 0% 100%, rgba(0, 0, 0, 0.9) 0%, transparent 50%);
}

.noise {
  background-image: url("/textures/noise.png");
  opacity: 0.2;
}

.stripe-outline {
  filter: drop-shadow(0 0 1rem #635bff);
}
