@import "@/styles/_variables";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e2b8ef;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: repeating-linear-gradient(
        150deg,
        rgba(226, 184, 239, 1) 0,
        rgb(188 83 223 / 40%) 49px,
        rgb(188 83 223 / 50%) 50px,
        rgb(188 83 223 / 90%) 51px,
        rgba(226, 184, 239, 1) 55px
      ),
      repeating-linear-gradient(
        30deg,
        rgba(226, 184, 239, 1) 0,
        rgb(188 83 223 / 90%) 49px,
        rgb(188 83 223 / 50%) 50px,
        rgb(188 83 223 / 90%) 51px,
        rgba(226, 184, 239, 1) 55px
      );
    opacity: 0.6;
  }
}

.info {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, #e2b8ef 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  -moz-backdrop-filter: blur(3px);
  font-size: 14px;
  line-height: 14px;
}
