html,
body {
  padding: 0;
  margin: 0;

  color: white;
  background-color: #080808;

  cursor: grab;
  user-select: none;
}

main {
  opacity: 0;
  animation: fade-in 1s ease 0.2s forwards;
}

// default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  user-select: none;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
input {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
}

// remove grey border around images on iOS
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.1px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Lenis Scrolling
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
