pre {
  background-color: transparent !important;
  padding: 0 !important;
}

pre code {
  display: block;
  background: transparent !important;
  color: #eeeeee;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
pre .xml .tag .title {
  color: #eeeeee;
}
pre .html .tag .title {
  color: #eeeeee;
}

.hljs {
  font-weight: 600;
  /* color: white; */
  color: rgb(127, 211, 237);
}

.hljs-selector-class {
  color: rgb(127, 211, 237);
}

.hljs-property {
  font-weight: 400;
  color: rgb(133, 217, 150);
}

.hljs-attr, .hljs-attribute {
  font-weight: 400;
  color: rgb(127, 211, 237);
}

.hljs-string {
  font-weight: 400;
  color: rgb(133, 217, 150);
}

.hljs-number {
  color: rgb(248, 184, 134);
}

.hljs-keyword {
  font-weight: 400;
  color: rgb(164, 205, 254);
}

.linenumber {
  min-width: 2rem !important;
  margin-left: -0.5rem;
  margin-right: 0.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.3);
}
