@import "./_variables";

.site {
  position: relative;

  width: 100%;
  height: 100%;

  main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    color: $color_200;
    background: $color_700;
  }

  h1 {
    font-size: $font-size-600;
    font-weight: $font_weight_300;
    text-align: center;

    color: $color_800;
  }

  h2 {
    font-size: $font-size-500;
    font-weight: $font_weight_400;

    color: $color_800;
  }

  h3 {
    font-size: $font-size-400;
    font-weight: $font_weight_200;

    color: $color_800;
  }

  h4 {
    font-size: $font-size-200;
    font-weight: $font_weight_200;

    color: $color_700;

    max-width: 700px;
  }

  h5 {
    font-size: $font-size-150;
    font-weight: $font_weight_200;
    line-height: 1.2em;

    max-width: 500px;

    @media only screen and (max-width: 768px) {
      & {
        font-size: $font-size-200;
      }
    }
  }

  p {
    font-size: $font-size-100;
    font-weight: $font_weight_100;

    color: $color_400;
  }

  strong {
    font-family: $font-secondary;
    font-size: $font-size-50;
    font-weight: $font_weight_400;

    flex-wrap: nowrap;
    white-space: nowrap;

    color: $color_400;
  }

  input {
    font-size: $font-size-100;
    font-weight: $font_weight_100;

    color: $color_300;
  }

  hr {
    width: 100%;
    height: 2px;
    margin: $padding-100/2 0;

    background-color: $color-500;
    border: none;
  }

  button {
    padding: $padding-150 $padding-200;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    color: $color-200;
    background-color: $color-800;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: $border-radius-300;
    overflow: hidden;

    cursor: pointer;
    transition: background-color $animation-duration $animation-easing,
      border-color $animation-duration $animation-easing;
  }

  a {
    font-weight: $font-weight-400;
  }
}
