@import "./_variables";

.site {
  position: relative;

  width: 100%;
  height: 100%;

  main,
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  main {
    color: $color_700;
    background: $color_100;
  }

  section,
  header,
  footer {
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: $padding-200;

    padding: $padding-100 $padding-200;

    @media only screen and (max-width: 768px) {
      & {
        grid-template-columns: repeat(4, 1fr);
        padding: $padding-100;
      }
    }
  }

  h1 {
    font-size: $font-size-600;
    font-weight: $font_weight_400;
    letter-spacing: -0.04em;
    text-align: center;
    line-height: 1.2em;

    color: $color_800;

    @media only screen and (max-width: 768px) {
      letter-spacing: -0.06em;
    }
  }

  h2 {
    font-size: $font-size-500;
    font-weight: $font_weight_400;

    color: $color_800;
  }

  h3 {
    font-size: $font-size-400;
    font-weight: $font_weight_200;

    color: $color_800;
  }

  h4 {
    font-size: $font-size-200;
    font-weight: $font_weight_200;

    color: $color_700;

    max-width: 700px;
  }

  h5 {
    font-size: $font-size-100;
    font-weight: $font_weight_200;
    text-transform: uppercase;
    line-height: 1.2em;

    max-width: 500px;
  }

  p {
    font-size: $font-size-100;
    font-weight: $font_weight_100;

    color: $color_400;
  }

  strong {
    font-size: $font-size-50;
    font-weight: $font_weight_400;

    flex-wrap: nowrap;
    white-space: nowrap;

    color: $color_400;
  }

  input {
    font-size: $font-size-100;
    font-weight: $font_weight_200;
    text-transform: uppercase;
    line-height: 1.2em;

    padding: 0 $padding-50;

    color: $color_100;
    background-color: transparent;
    background: none;
    border: none;
    outline: none;
  }

  hr {
    width: 100%;
    height: 2px;
    margin: $padding-100/2 0;

    background-color: $color-500;
    border: none;
  }

  button {
    padding: $padding-150 $padding-200;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1;

    color: $color-200;
    background-color: $color-800;
    border: 1px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: $border-radius-300;
    overflow: hidden;

    cursor: pointer;
  }

  a {
    font-weight: $font-weight-400;
  }

  // Hide scrollbar
  div::-webkit-scrollbar {
    width: $padding-50;
  }
  div::-webkit-scrollbar-thumb {
    background-color: rgba(243, 244, 246, 0);
    border-radius: $border-radius-100;
  }
}
