/* COLORS */
$color-000: #ffffff;
$color-100: #f3f4f6;
$color-200: #dcdfe5;
$color-300: #c4c9d4;
$color-400: #726e70;
$color-500: #3D4255;
$color-600: #2c2627;
$color-700: #1e1e1e;
$color-800: #000000;

$color-accent: #635bff;
$color-accent-secondary: #8d95ec;

$color-700-80: rgba(30, 26, 27, 0.8);

/* SHADOW */
$shadow-standard: rgba(149, 157, 165, 0.2) 0px 8px 24px;

/* FONTS */
$font-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$font-secondary: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;

/* FONT SIZE */
$font-size-50: clamp(12px, 0.7vw, 12px);
$font-size-100: clamp(12px, 1vw, 14px);
$font-size-200: clamp(16px, 2vw, 18px);
$font-size-300: clamp(20px, 3vh, 22px);
$font-size-400: clamp(24px, 5vw, 28px);
$font-size-500: clamp(28px, 7vw, 36px);
$font-size-600: clamp(38px, 10vw, 56px);

/* FONT WEIGHT */
$font-weight-100: 300;
$font-weight-200: 400;
$font-weight-300: 500;
$font-weight-400: 600;

/* SPACING */
$spacing-50: 0.5rem;
$spacing-100: 1rem;
$spacing-200: 2rem;
$spacing-300: 6rem;
$spacing-400: 8rem;
$spacing-500: 10rem;

/* PADDING */
$padding-50: 5px;
$padding-100: 10px;
$padding-150: 15px;
$padding-200: 20px;
$padding-300: 30px;
$padding-400: 50px;
$padding-500: 100px;

/* BORDERS */
$border-radius-100: 7px;
$border-radius-200: 10px;
$border-radius-300: 20px;
$border-radius-400: 30px;
$border-radius-500: 50px;

$border-standard: 1px solid rgba(56, 56, 56, 0.7);
$border-secondary: 1px solid rgba(56, 56, 56, 0.1);
$border-dark: 1px solid $color-200;

/* ANIMATIONS */
$animation-duration-short: 0.15s;
$animation-duration: 0.35s;
$animation-duration-long: 1.5s;
$animation-delay: 0.25s;
$animation-delay-long: 1.25s;
$animation-easing: cubic-bezier(0.33, 1, 0.68, 1);
$animation-easing-spring: cubic-bezier(0.64, 0.57, 0.67, 1.53);

/* FOR REACT */
:export {
  /* COLORS */
  color100: $color-100;
  color200: $color-200;
  color300: $color-300;
  color400: $color-400;
  color500: $color-500;
  color600: $color-600;
  color700: $color-700;
  color800: $color-800;

  colorAccent: $color-accent;
  colorAccentSecondary: $color-accent-secondary;

  /* SPACING */
  spacing100: $spacing-100;
  spacing200: $spacing-200;
  spacing300: $spacing-300;
  spacing400: $spacing-400;
  spacing500: $spacing-500;

  /* PADDING */
  padding100: $padding-100;
  padding200: $padding-200;
  padding300: $padding-300;
  padding400: $padding-400;
  padding500: $padding-500;

  /* ANIMATION */
  animationDuration: $animation-duration;
  animationDurationLong: $animation-duration-long;
  animationDelay: $animation-delay;
  animationDelayLong: $animation-delay-long;
  animationEasing: $animation-easing;
}
