@import "./_variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  pointer-events: none;
}

.stack {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  opacity: 0;

  transition: opacity $animation-duration-short $animation-easing
    $animation-duration;

  &.active {
    opacity: 1;
    pointer-events: all;

    transition: opacity $animation-duration-short $animation-easing;
  }

  &.right {
    left: auto;
    right: 0;

    align-items: flex-end;

    .container {
      .cover {
        transform-origin: right;
      }
    }
  }
}

.container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  height: 20px;

  background-color: $color-700;

  white-space: nowrap;
  overflow: hidden;

  &:first-of-type {
    height: 21px;
  }

  &:not(&:first-of-type) {
    margin-top: -1px;
  }

  &.wrapped {
    flex-direction: column;
    align-items: flex-end;

    height: auto;
    margin-bottom: $padding-100;
  }

  h5 {
    position: relative;
    padding: 0 4px;
    color: $color-100;
  }

  .arrow {
    position: relative;

    width: 10px;
    height: auto;
    padding-left: 4px;
  }
}
