@import "./_variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 12vh;

  strong {
    color: $color-accent;

    text-align: center;

    background: linear-gradient(
      to right,
      $color-accent 20%,
      $color-accent-secondary 40%,
      $color-accent-secondary 60%,
      $color-accent 80%
    );
    background-size: 200% auto;

    color: transparent;
    background-clip: text;

    animation: shine 5s linear infinite;
  }

  .cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem 2rem;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, black);

    cursor: pointer;

    transition: gap $animation-duration $animation-easing;

    &:hover {
      gap: 1rem;
    }

    img {
      opacity: 0.9;
      transform: scale(-1);
    }

    h3 {
      background: linear-gradient(
        to right,
        $color-700 20%,
        $color-500 40%,
        $color-500 60%,
        $color-700 80%
      );
      background-size: 200% auto;

      color: transparent;
      background-clip: text;

      animation: shine 5s linear infinite;
    }
  }

  h4 {
    text-align: center;
    line-height: 1.7em;
    opacity: 0.8;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, black);
    filter: drop-shadow(0 0.3rem 0.25rem rgba(141, 149, 236, 0.25));

    a {
      position: relative;
      color: $color-accent;
      font-weight: 500;

      display: inline-flex;
      gap: 0.25rem;

      &:hover {
        img {
          transform: translate(1px, -2px) rotate(135deg);
        }
      }

      img {
        color: $color-accent;
        transform: rotate(135deg);

        transition: transform $animation-duration-short $animation-easing;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4px;
        height: 1.5px;
        background-color: $color-accent;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
