.main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding: 0 4px;
  pointer-events: none;

  .container {
    position: relative;

    display: grid;
    grid: 1fr / repeat(4, 1fr);

    max-width: 1080px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

    .line {
      width: 1px;
      background: linear-gradient(
        180deg,
        rgba(66, 71, 112, 0.2),
        rgba(66, 71, 112, 0.2) 50%,
        transparent 0,
        transparent
      );
      background-size: 1px 8px;
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 0%,
        black 60%,
        rgba(0, 0, 0, 0.15) 100%
      );

      &:first-of-type {
        background: rgba(66, 71, 112, 0.2);
      }

      &:last-of-type {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        background: rgba(66, 71, 112, 0.2);
      }
    }
  }
}
