@import "./_variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .v {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &.spaced {
      gap: $padding-100;
    }
  }

  .h {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: $padding-100;
  }

  h5 {
    pointer-events: all;
    cursor: pointer;

    &.selected {
      text-decoration: underline;
    }
  }
}
