@import "./variables";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  user-select: none;

  .logo {
    position: relative;

    padding: 2rem 4rem;

    @media only screen and (max-width: 768px) {
      & {
        padding: 2rem;
      }
    }
  }

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;

    min-height: fit-content;
    padding: 2rem 4rem;

    user-select: none;

    @media only screen and (max-width: 768px) {
      & {
        padding: 2rem 1.5rem 2rem 2rem;
      }
    }

    h5 {
      color: $color-accent;
      font-weight: $font-weight-400;
      transform: translateX(0.5rem);

      transition: color $animation-duration-short $animation-easing,
        transform $animation-duration-short $animation-easing;
    }

    img {
      opacity: 0;
      transform: rotate(180deg) scaleX(0%);

      transition: opacity $animation-duration-short $animation-easing,
        transform $animation-duration-short $animation-easing;
    }

    &:hover {
      h5 {
        color: $color-700;
        transform: translateX(0rem);
      }
      img {
        opacity: 1;
        transform: rotate(180deg) scaleX(100%);
      }
    }
  }
}

.arrow {
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 100;

  padding: 0.5rem 1rem;
  background-color: white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  transform: translate(-50%, 200%);

  transition: transform $animation-duration $animation-easing;

  &.show {
    transform: translate(-50%, 0%);
  }

  img {
    width: 1rem;
    height: 1rem;
    transform: rotate(270deg);
  }
}
