@import "./_variables";

.main {
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem 1.5rem 12vh;

  display: flex;

  @media only screen and (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }

  .container {
    position: relative;

    padding: 1rem;
    margin: 0 auto;
    max-width: 1700px;

    @media only screen and (max-width: 768px) {
      & {
        padding: 0;
      }
    }
  }
}
