@import "./variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  min-height: 50vh;

  padding-top: 20vh;

  strong {
    color: $color-accent;

    text-align: center;

    background: linear-gradient(
      to right,
      $color-accent 20%,
      $color-accent-secondary 40%,
      $color-accent-secondary 60%,
      $color-accent 80%
    );
    background-size: 200% auto;

    color: transparent;
    background-clip: text;

    animation: shine 5s linear infinite;
  }

  h2 {
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, black);
    filter: drop-shadow(0 0.3rem 0.25rem rgba(141, 149, 236, 0.35));

    background: linear-gradient(
      to right,
      $color-700 20%,
      $color-500 40%,
      $color-500 60%,
      $color-700 80%
    );
    background-size: 200% auto;

    color: transparent;
    background-clip: text;

    animation: shine 5s linear infinite;
  }

  h4 {
    text-align: center;
    line-height: 1.7em;
    opacity: 0.8;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, black);
    filter: drop-shadow(0 0.3rem 0.25rem rgba(141, 149, 236, 0.25));

    a {
      position: relative;
      color: $color-accent;
      font-weight: 500;

      display: inline-flex;
      gap: 0;
      padding-right: 0.1rem;

      transition: color $animation-duration-short $animation-easing,
        padding-right $animation-duration-short $animation-easing;

      &:hover {
        color: $color-700;
        padding-right: 1.25rem;

        img {
          display: inline;
          opacity: 1;
          transform: rotate(180deg) scaleX(100%) translateX(4px);
        }

        &:after {
          background-color: $color-700;
        }
      }

      img {
        position: absolute;
        top: 8px;
        right: 0;
        
        opacity: 0;
        transform: rotate(180deg) scaleX(0%) translateX(4px);

        transition: opacity $animation-duration-short $animation-easing,
          transform $animation-duration-short $animation-easing;
      }

      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 4px;
        height: 1.5px;
        background-color: $color-accent;

        transition: background-color $animation-duration-short $animation-easing;
      }
    }
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
