@import "./_variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: clamp(350px, 25vw, 500px);
  height: clamp(350px, 25vw, 500px);

  background-color: black;
  overflow: hidden;
  white-space: nowrap;

  @media only screen and (max-width: 768px) {
    & {
      width: 100%;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    background-color: #eceff2;
    user-select: none;
    pointer-events: none;
  }

  .info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.75rem 1rem 1.25rem;

    .titles {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.25rem;

      strong {
        color: var(--customBackground);
        filter: brightness(70%);
      }
    }

    .icon {
      padding: 0.5rem;
      opacity: 0.5;
      cursor: pointer;

      transition: opacity $animation-duration $animation-easing;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.5;
        border-radius: $padding-400;
        animation: pulse $animation-duration 1 $animation-easing;
      }
    }
  }

  .codeSnippet {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 56px;
    z-index: 10;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;
    transform: scaleY(0%);
    transform-origin: bottom;

    transition: opacity $animation-duration $animation-easing,
      transform $animation-duration $animation-easing;

    &.visible {
      opacity: 1;
      visibility: visible;
      transform: scaleY(100%);

      .sheet {
        opacity: 1;
      }
      .codeBlock {
        .code {
          opacity: 1;
        }
      }
    }

    &:hover {
      .copy {
        transform: scale(1) translate(-50%, 0);
        opacity: 1;
      }
    }

    .sheet {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-size: 4px 4px;
      backdrop-filter: blur(10px);
      font-size: 14px;
      line-height: 14px;
      background-color: rgba(0, 0, 0, 0.5);

      opacity: 0;
      transition: opacity $animation-duration $animation-easing;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-image: radial-gradient(
          rgba(0, 0, 0, 0) 1px,
          var(--customBackground) 1px
        );
        background-size: 4px 4px;
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        -moz-backdrop-filter: blur(3px);
        font-size: 14px;
        line-height: 14px;
        opacity: 0.1;
      }
    }

    .codeBlock {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      display: flex;
      flex-direction: column;

      background-color: rgba(28, 38, 79, 0.75);
      border: 1px solid #ededed;

      overflow-y: scroll;

      .title {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        padding: 1rem 0 1rem 1.25rem;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background-color: #1c264f;

        strong {
          color: #acccfa;
          mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, black);
        }

        .pages {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 6px;

          .page {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 0.25rem;

            padding: 2px 6px;
            border-radius: 1rem;
            cursor: pointer;

            strong {
              color: rgba(255, 255, 255, 0.7);
              text-transform: lowercase;
            }
            img {
              filter: invert(100%);
              opacity: 0.5;
            }

            &.selected {
              background-color: #a4cdfe;

              strong {
                color: #1a2652;
              }
              img {
                filter: invert(0%);
                opacity: 1;
              }
            }
          }
        }
      }

      .code {
        width: 100%;
        padding: 1rem 1rem;
        font-size: $font-size-100;
        white-space: pre;

        opacity: 0;
        transition: opacity $animation-duration-short $animation-easing
          $animation-duration;

        @media only screen and (max-width: 768px) {
          & {
            padding: 0 1rem 1rem;
          }
        }

        pre code {
          background: none;
          border: none;
          padding: 0;

          padding-bottom: 2rem;
        }
      }
    }

    .copy {
      position: absolute;
      left: 50%;
      bottom: 0.5rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      padding: 0.5rem 1rem;
      background-color: #a4cdfe;
      border-radius: 1rem;

      transform-origin: center;
      transform: scale(0.6) translate(-70%, 2rem);
      opacity: 0;

      transition: transform $animation-duration-short $animation-easing,
        opacity $animation-duration-short $animation-easing;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(164, 205, 254, 0);
  }
  10% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #a4cdfe;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(164, 205, 254, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(164, 205, 254, 0);
  }
}
