@import "./_variables";

.main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  min-height: 100vh;
  width: 100%;
  padding: 24px;

  @media only screen and (max-width: 768px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }

  .container {
    position: relative;

    padding: 1rem;
    margin: 0 auto;
    max-width: 1700px;

    @media only screen and (max-width: 768px) {
      & {
        padding: 0;
      }
    }
  }
}
