@import "./variables";

.map {
  pointer-events: none;
  position: absolute;
  right: 1vw;
  bottom: 1vw;
  width: auto;
  height: auto;
  opacity: 0.7;

  transform: scale(0.7);
  transform-origin: bottom right;

  transition: opacity $animation-duration $animation-easing;

  @media (max-width: 900px) {
    left: auto;
  }

  .container {
    width: 0;
    height: 0;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
  }

  .item {
    position: absolute;
    transform: translateX(-100%) translateY(-100%);
    border: 1px solid $color-400;
    transition: all ease-in-out 0.4s;

    &.active {
      border: 1px solid yello;
      background: $color-300;
      background-color: red;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: $color-300;
      opacity: 0.1;
    }
  }

  .position {
    position: absolute;
    border: 1px solid $color-400;
    transform: translateX(-50%) translateY(-50%);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: $color-300;
      opacity: 0.2;
    }
  }
}
