@import "./_variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  overflow: hidden;

  opacity: 0;
  transition: opacity $animation-duration $animation-easing
    $animation-duration-long;

  &.visible {
    opacity: 1;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    pointer-events: all;
    padding: $padding-100 0 $padding-300;

    .spacer {
      height: 1px;
      min-width: $padding-600;

      &.large {
        min-width: 60vw;
      }
    }

    .project {
      width: auto;
      min-width: $padding-450;
      height: $padding-450;
      
      pointer-events: all;
    }

    .project:last-of-type {
      padding-right: $padding-100;
    }
  }

  .selected {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    visibility: hidden;

    img,
    video {
      width: auto;
      max-width: calc(100% - $padding-100 * 2);
      height: auto;
      max-height: 55vh;
      margin: auto auto auto $padding-100;
    }

    &.open {
      visibility: visible;
    }
  }
}
