@import "./_variables";

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  width: 100%;
  height: 100%;

  overflow: hidden;

  transition: opacity $animation-duration $animation-easing $animation-duration;

  &.visible {
    opacity: 1;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: $padding-300;

    overflow-x: scroll;
    pointer-events: all;

    .slider {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      gap: $padding-100;

      .spacer {
        height: 1px;
        min-width: $padding-600;

        &.large {
          min-width: 60vw;
        }
      }

      .container {
        overflow: hidden;
      }

      .project {
        width: auto;
        min-width: $padding-450;
        height: $padding-450;

        pointer-events: all;

        transform: translateY(120%);
      }
    }
  }

  .selected {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;

    visibility: hidden;

    img,
    video {
      width: auto;
      max-width: calc(100% - $padding-100 * 2);
      height: auto;
      max-height: 55vh;
      margin: auto auto auto $padding-100;
    }

    &.open {
      visibility: visible;
    }
  }
}
