@import "./variables";

.main {
  position: absolute;
  top: 0;
  left: 2rem;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: fit-content;
  padding: 2rem;

  transform: translateX(25px);
}

.action {
  position: absolute;
  top: 0;
  right: 2rem;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  min-height: fit-content;
  padding: 2rem;

  h5 {
    color: $color-accent;
    transform: translateX(0.5rem);

    transition: color $animation-duration-short $animation-easing,
      transform $animation-duration-short $animation-easing;
  }

  img {
    opacity: 0;
    transform: rotate(180deg) scaleX(0%);

    transition: opacity $animation-duration-short $animation-easing,
      transform $animation-duration-short $animation-easing;
  }

  &:hover {
    h5 {
      color: $color-700;
      transform: translateX(0rem);
    }
    img {
      opacity: 1;
      transform: rotate(180deg) scaleX(100%);
    }
  }
}
