.main {
  position: relative;
  // top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
  min-height: fit-content;
  padding: 24px;
  margin-bottom: auto;

  transform: translateX(25px);
}

.action {
  position: relative;
  // top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: fit-content;
  padding: 24px;
  margin-bottom: auto;

  font-family: monospace;
  font-size: 16px;

  padding: 1rem 2rem;
  border-radius: 4rem;
  border: 1px solid rgba(66, 71, 112, 0.2);
  background-color: rgb(243 244 246);

  cursor: pointer;

  transform: translateX(-25px);

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgb(236 239 242);
  }
}
