@import "./_variables";

.main {
  position: fixed;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  background-color: $color-000;
  z-index: 100;

  mix-blend-mode: exclusion;
  transform-origin: top center;
}
