@import "./variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $padding-200;

  user-select: none;
  pointer-events: none;

  opacity: 0;

  transition: opacity $animation-duration $animation-easing;

  @media only screen and (max-width: 768px) {
    & {
      padding: 0;
    }
  }

  &.visible {
    opacity: 1;
  }

  button {
    padding: $padding-200;
    background: none;
    border: none;
    outline: none;
    pointer-events: all;

    filter: blur(1px);
    backdrop-filter: blur(1px);
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.5)
    );

    transition: filter $animation-duration-long $animation-easing;

    &:hover {
      filter: blur(0);
      transition-duration: $animation-duration;
    }

    @media only screen and (max-width: 768px) {
      & {
        filter: blur(0px);
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $padding-50 / 2;

    width: $padding-150;
    height: $padding-150;

    .square {
      background-color: $color-200;
    }
  }

  .selected {
    position: absolute;
    left: $padding-300;
    bottom: $padding-300;

    width: clamp(400px, 60vw, 1000px);
    max-width: 50vw;
    height: auto;
    max-height: 75vh;
    object-fit: contain;
    object-position: bottom left;

    opacity: 0;
    transition: opacity $animation-duration $animation-easing;

    @media only screen and (max-width: 768px) {
      & {
        left: $padding-200;
        bottom: $padding-200;
      }
    }

    &.visible {
      opacity: 1;
    }
  }
}
