@import "./variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: $padding-200;

  user-select: none;
  pointer-events: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5vw;
    z-index: -1;

    background: linear-gradient(to right, $color_100 0%, rgba(0, 0, 0, 0) 100%);
  }

  button {
    padding: $padding-200;
    background: none;
    border: none;
    outline: none;
    pointer-events: all;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: $padding-50 / 2;

    width: $padding-150;
    height: $padding-150;

    .square {
      background-color: $color-800;
    }
  }
}
