@import "./_variables";

.annotation {
  position: absolute;
  right: 0;
  bottom: 0;

  text-align: right;
  transform: translate3d(150px, 300%, 0);

  opacity: 0;

  transition: opacity $animation-duration-long $animation-easing $animation-duration-long;

  &.visible {
    opacity: 1;
  }
}
