@import "./variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: $padding-100 $padding-200;

  user-select: none;
  pointer-events: none;

  &.visible {
    h4 {
      opacity: 1;
    }
  }

  .container {
    position: relative;

    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    grid-template-rows: auto;
    justify-items: flex-start;
    align-items: flex-end;
    gap: $padding-200;

    width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;

    background-image: url(/imgs/textures/noise.png);
    background-size: 100px;

    opacity: 0.09;
    will-change: auto;
    animation: noise 12s steps(3) both infinite;
  }

  h1 {
    overflow: hidden;
  }

  h4 {
    line-height: 1.2em;

    opacity: 0;
    overflow: hidden;

    transition: opacity $animation-duration-short $animation-easing
      $animation-duration;
  }

  h4:first-of-type {
    @media only screen and (max-width: 768px) {
      & {
        grid-column: 1 / 5;
      }
    }
  }

  .about {
    text-transform: uppercase;
    white-space: nowrap;
    grid-column: 3 / 5;

    @media only screen and (max-width: 768px) {
      & {
        grid-column: 2 / 5;
      }
    }
  }

  .animation {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    h4 {
      opacity: 1 !important;
      letter-spacing: 0.3em;
    }

    .arrow {
      position: absolute;
      top: calc(50% + 2px);
      left: 23px;
      transform: translate(0%, -50%);

      width: 12px;
      min-width: 12px;
      max-width: 12px;
      height: auto;
      padding: 4px;

      background-color: $color-100;
    }
  }
}

@keyframes noise {
  0% {
    transform: translate3d(1%, -1%, 0);
  }

  10% {
    transform: translate3d(-5%, -2%, 0);
  }

  20% {
    transform: translate3d(10%, 5%, 0);
  }

  30% {
    transform: translate3d(5%, -11%, 0);
  }

  40% {
    transform: translate3d(-12%, -5%, 0);
  }

  50% {
    transform: translate3d(10%, 9%, 0);
  }

  60% {
    transform: translate3d(15%, 0, 0);
  }

  70% {
    transform: translate3d(-10%, 8%, 0);
  }

  80% {
    transform: translate3d(10%, 2%, 0);
  }

  90% {
    transform: translate3d(1%, 5%, 0);
  }

  to {
    transform: translate3d(0, 8%, 0);
  }
}
