@import "./variables";

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
  grid-template-rows: auto;
  gap: $padding-200;

  padding: $padding-100 $padding-200;
  justify-content: center;
  align-items: center;

  user-select: none;
  pointer-events: none;

  animation: fade-in $animation-duration-long $animation-easing 0.1s forwards;
  transform-origin: left center;

  &.visible {
    opacity: 0.1;
    transform: scale(1);
  }

  h4:first-of-type {
    @media only screen and (max-width: 768px) {
      & {
        grid-column: 1 / 5;
      }
    }
  }

  h4:last-of-type {
    text-transform: uppercase;
    white-space: nowrap;
    grid-column: 3 / 5;

    @media only screen and (max-width: 768px) {
      & {
        grid-column: 2 / 5;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;

    background-image: url(/imgs/textures/noise.png);
    background-size: 100px;

    opacity: 0.09;
    will-change: auto;
    animation: noise 12s steps(3) both infinite;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes noise {
  0% {
    transform: translate3d(1%, -1%, 0);
  }

  10% {
    transform: translate3d(-5%, -2%, 0);
  }

  20% {
    transform: translate3d(10%, 5%, 0);
  }

  30% {
    transform: translate3d(5%, -11%, 0);
  }

  40% {
    transform: translate3d(-12%, -5%, 0);
  }

  50% {
    transform: translate3d(10%, 9%, 0);
  }

  60% {
    transform: translate3d(15%, 0, 0);
  }

  70% {
    transform: translate3d(-10%, 8%, 0);
  }

  80% {
    transform: translate3d(10%, 2%, 0);
  }

  90% {
    transform: translate3d(1%, 5%, 0);
  }

  to {
    transform: translate3d(0, 8%, 0);
  }
}
