.container {
  --labs-sys-color-triangle: #6eccee;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .triangle {
    position: absolute;

    width: 220px;
    aspect-ratio: 4/3;

    transform: rotate(1deg);
    filter: drop-shadow(0 0 15px var(--labs-sys-color-triangle));
    perspective: 1000px;

    animation: triangle 10s linear infinite;
  }
  .triangle:after {
    content: "";
    position: absolute;

    inset: 0;
    background: linear-gradient(45deg, white, var(--labs-sys-color-triangle));
    -webkit-clip-path: polygon(
      6% 22%,
      29% 94%,
      29% 94%,
      6% 22%,
      94% 3%,
      29% 94%,
      7% 22%,
      4% 19%,
      29% 94%,
      100% 0%
    );
    clip-path: polygon(
      6% 22%,
      29% 94%,
      29% 94%,
      6% 22%,
      94% 3%,
      29% 94%,
      7% 22%,
      4% 19%,
      29% 94%,
      100% 0%
    );
    transform: translateY(-100px);
  }

  @keyframes triangle {
    from {
      transform: translate(3vmin, 11.8vmin) rotate(1deg);
    }
    50% {
      transform: translate(3vmin, 12vmin) rotateX(-15deg) rotateY(-20deg);
    }
    to {
      transform: translate(3vmin, 11.8vmin) rotate(1deg);
    }
  }
}
